
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.root{
  width: 100%;
  height: 100%;
  border: px solid black;
}
.nav-bar{
  background-color: #fff;
  z-index: 1;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  height: 70px;
  align-items: center;
  margin-bottom: 5px;
}
.search{
  border: 1px solid grey;
  width: 230px;
  height: 30px;
  display: flex;
  border-radius: 10px;
}

.search img{
  width: 20px;
  margin-left: 5px;
  margin-right: 10px;
}
.search input{
  border: transparent;
font-size: 12px;
}
.search  placeholder{
  font-size: medium;
}
.table{
  background-color:#1e3932;
  border: 1px solid black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:300px

}
.btn button{
  width: 100px;
  height: 30px;
  border-radius: 30px;
  background-color: #1e3932;
  color: aliceblue;
  border: 1px solid white;
}
.name{
  font-size: large;
  font-family: sans-serif;
}
.body{
  border: 1px solid black;
  border-radius: 10px;
  width:85%;
  height: 200px;
  margin: auto;
  margin-top: 50px ;
  background-color:#09907f ;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.body::after {
  content: "";
  background: #2e974b; 
      width: 15%;
      margin-left: 40%; 
      height: 2px;
      position: absolute;
      bottom: -20%;

}
.body img{
  width: 120px;
  height:auto;
  
}
.content{
  margin-left: 5px;
  margin-top: 10px;
  color: #fff;
  font-family: sans-serif;
  font-size: medium;
  gap: 10px;
}
.content p{
  margin-top: 30px;

}
.content h3{
  margin-top: 30px;
}

.content a{
  color: #fff;
}
.apply p {
 margin-bottom:50px;
font-size: 10px;
margin-left: 140px;
color: white;

  
}
.apply button {
  margin-top: 60px;
  margin-right: 70px;
  width: 170px;
  height: 50px;
  border-radius: 90px;
  border: 1px solid white;
  font-family: sans-serif;

}
.cart-container{
  border: 1px solid transparent;
  width: 90%;
  margin: auto;
  margin-top: 90px;

}

.cart-container h1{
  
  color: rgb(16, 40, 16);
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 20px;

}
.card{
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  margin-bottom: 80px;

}
.image img{
  
  width: 70%;
  height: auto;
  gap: 10px;
  border-radius: 160px;
  justify-content: space-between;
}
.image p {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-left: 30px;

}
.box{
  border: 1px solid transparent;
  width: 100%;
  height: 300px;
  background-color: #edebe9;
  margin: auto;
}

.header{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
}
.header p{
  font-size: larger;
  font-weight: 600;
  font-family: sans-serif;

}

.card-container{
background-color: #ffffff;
box-shadow: 0px 0px 5px #514343;
border-radius: 10px;
width: 30%;
height: 180px;
margin-top: 4%;
margin-left: 100px;
padding: 40px;
}
.coffee{
  display: flex;
   gap: 30px;
}

.price{
  align-items: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

}

.price button{
  width: 120px;
  height: 30px;
  border: 1px solid white;
  border-radius: 15px;
  background-color: #0e763d;
  color: #fff;
}

.container{
  border: 1px solid black;
  width: 100%;
  height: 500px;
  margin-top: 40px;
  background-color: #edebe9;
}

.more{
  border: 1px solid transparent;
  width: 90%;
  padding: 30px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.more p  {
  font-family: sans-serif;
  font-weight: 600;
  font-size: large;
}
.more a{
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: rgb(16, 40, 16) ;
}

.bg{
  display: flex;
  flex-direction: column;
  background-image: url(https://preprodtsbstorage.blob.core.windows.net/cms/uploads/ICW_Live_Event_Day5_41f11ca3d2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px;
  border-radius: 18px;
  height: 340px;
  width: 90%;
  margin: auto;
  
}
:hover {
  .bg{
  background-color: black;
  }
}

.cc button {
  font-size: 12px;
  font-family: sans-serif;
  width: 90px;
  height: 15px;
  border-radius: 5px;
  border: 1px solid white;
  color: green;
}

.part{
  border: 1px solid transparent;
  margin-top: 130px;
}

.part p{
  font-family: sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
}
.part h5{
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #ede7e7;
  margin-top: 20px;
}
.part button{
  margin-top: 20px;
  border: 1px solid white ;
  width: 160px;
  height: 30px;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: medium;
}

.footer {
  background-color: #0e382c;
  color: white;
}

.footer-container {
  width: 83%;
  margin: 0 auto;
  padding: 155px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.footer-options {
  & ul > li {
    list-style: none;
    font-weight: 100;
    font-size: 14px;
    margin-top: 35px;
  }
}

.social-media-options {
  & .links > i {
    font-size: 30px;
    margin-top: 35px;
    margin-right: 20px;
  }
}
.download-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
}

.copyright-section {
  width: 83%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 50px 0;

  .cs-left {
    display: flex;

    & :nth-child(1) {
      padding-right: 20px;
    }

    & :nth-child(2) {
      border-left: 1px solid white;
      border-right: 1px solid white;
      padding: 0 20px;
    }

    & :nth-child(3) {
      border-right: 1px solid white;
      padding: 0 20px;
    }

    & :nth-child(4) {
      border-left: 1px solid white;
      padding-left: 20px;
    }
  }

  & p {
    font-size: 14px;
    font-weight: 100;
  }
}

@media screen and (min-width: 1500px) {
  .nav-bar,
  .footer-container,
  .copyright-section {
    width: 50%;
  }
}

@media screen and (max-width: 1050px) {
  .nav-bar,
  .cart-container,
  .footer-container,
  .copyright-section {
    width: 90%;
  }

  .nav-bar  {

    flex-direction: column;
    gap: 10px;
    height: 250px;
  }
  .name{
    display: flex-column;
  }

  .left-nav { 
    flex-direction: column;
  }

  .right-nav {
    flex-direction: column;
    gap: 30px;
  }

  .know-more-section {
    display: none;
  }

  .beverage-subscription {
    gap: 20px;
    margin-top: 30px;
  }

  .footer-container {
    flex-direction: column;
    gap: 30px;
    padding: 80px;
  }

  .copyright-section {
    flex-direction: column;
    gap: 30px;
  }
}
